
.toolbar {
  background-color: #9af946;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  width: 100vw;
  height: 1.5em;
  text-align: left;
  z-index: 1000;
}

.item {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 1em;
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
